body {
  margin: 10px 20px;
}

.account {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

.folderRow {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 3px 0;
}

label {
  color: black;
}

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #23222b;
  }
  label {
    color: #b3b9c4;
  }
}
